@model S2G6_SISAPPP.Instructor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstructorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorHireDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorHireDepartment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstructorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
