@{
    ViewBag.Title = "Home Page";
}

<img src="Images/Uwindsor.jpg" alt="University of Windsor"
     width="1000" height="300">
<h1>Student Information System</h1>

<div class="row">
    <div class="col-md-4">
        <h2> @Html.ActionLink("Students", "Index", "Students") </h2>
        <p> Get all the student information</p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("Departments", "Index", "Departments") </h2>
        <p>Get all the information about various departments at the University of Windsor.</p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("Instructors", "Index", "Instructors") </h2>
        <p>Get all the details about instructors in various departments.</p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("Cours", "Index", "Cours") </h2>
        <p>Get all the details about courses in various departments.</p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("Registrations", "Index", "Registrations") </h2>
        <p>Get all the details about registering for any specific course.</p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("StudyTerms", "Index", "StudyTerms") </h2>
        <p>Get all the details about various terms of studies.</p>
    </div>
</div>