@model IEnumerable<S2G6_SISAPPP.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudyTerm.TermName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudyTerm.TermName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentID,id1=item.CourseID, id2=item.TermID}) |
            @Html.ActionLink("Details", "Details", new { id = item.StudentID, id1 = item.CourseID, id2 = item.TermID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StudentID, id1 = item.CourseID, id2 = item.TermID })
        </td>
    </tr>
}

</table>
